@charset "UTF-8";
/* MaterialDesignIcons.com */
@font-face {
  font-family: "Andes Icons";
  src: url("../fonts/andes-font.eot?v=2.0.0");
  src: url("../fonts/andes-font.eot?#iefix&v=2.0.0") format("embedded-opentype"), url("../fonts/andes-font.woff?v=2.0.0") format("woff"), url("../fonts/andes-font.ttf?v=2.0.0") format("truetype"), url("../fonts/andes-font.svg?v=2.0.0#andes-fontregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.adi:before,
.adi-set {
  display: inline-block;
  font: normal normal normal 24px/1 "Andes Icons";
  font-size: inherit;
  text-rendering: auto;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.adi-usuario-reloj-outline:before {
  content: "\e800"; }

.adi-usuarios:before {
  content: "\e801"; }

.adi-usuario-tilde:before {
  content: "\e802"; }

.adi-usuario-tilde-outline:before {
  content: "\e803"; }

.adi-vacuna:before {
  content: "\e804"; }

.adi-vinculo:before {
  content: "\e805"; }

.adi-web:before {
  content: "\e806"; }

.adi-zoom:before {
  content: "\e807"; }

.adi-zoom-in:before {
  content: "\e808"; }

.adi-zoom-out:before {
  content: "\e809"; }

.adi--herramienta:before {
  content: "\e80a"; }

.adi-abecedario:before {
  content: "\e80b"; }

.adi-adn:before {
  content: "\e80c"; }

.adi-alarma:before {
  content: "\e80d"; }

.adi-ambulancia:before {
  content: "\e80e"; }

.adi-anciana:before {
  content: "\e80f"; }

.adi-andes:before {
  content: "\e810"; }

.adi-andes-acronimo:before {
  content: "\e811"; }

.adi-andes-marca:before {
  content: "\e812"; }

.adi-anestesia:before {
  content: "\e813"; }

.adi-auto-policia:before {
  content: "\e814"; }

.adi-bisturi:before {
  content: "\e815"; }

.adi-bloques-reloj:before {
  content: "\e816"; }

.adi-calendario:before {
  content: "\e817"; }

.adi-calendario-fecha:before {
  content: "\e818"; }

.adi-calendario-fecha-arriba:before {
  content: "\e81a"; }

.adi-calendario-fecha-bold:before {
  content: "\e81b"; }

.adi-calendario-fecha-outline:before {
  content: "\e81c"; }

.adi-calendario-flecha-abajo:before {
  content: "\e81d"; }

.adi-calendario-flechas-circulares:before {
  content: "\e81e"; }

.adi-calendario-mas:before {
  content: "\e81f"; }

.adi-calendario-rango-bold:before {
  content: "\e820"; }

.adi-calendarios:before {
  content: "\e821"; }

.adi-calendario-tilde:before {
  content: "\e822"; }

.adi-cama:before {
  content: "\e823"; }

.adi-cama-candado:before {
  content: "\e824"; }

.adi-cama-destendida:before {
  content: "\e825"; }

.adi-cama-engranaje:before {
  content: "\e826"; }

.adi-cama-herramienta:before {
  content: "\e827"; }

.adi-cama-paciente:before {
  content: "\e828"; }

.adi-camara-foto:before {
  content: "\e829"; }

.adi-cama-reloj:before {
  content: "\e82a"; }

.adi-camilla:before {
  content: "\e82b"; }

.adi-camion-bomberos:before {
  content: "\e82c"; }

.adi-candado:before {
  content: "\e82d"; }

.adi-celular:before {
  content: "\e82e"; }

.adi-celular-llave:before {
  content: "\e82f"; }

.adi-celular-mano:before {
  content: "\e830"; }

.adi-celular-paciente:before {
  content: "\e831"; }

.adi-centro-salud:before {
  content: "\e832"; }

.adi-circulo-botella:before {
  content: "\e833"; }

.adi-circulo-camara:before {
  content: "\e834"; }

.adi-circulo-hospital:before {
  content: "\e835"; }

.adi-circulo-madre-hijo:before {
  content: "\e836"; }

.adi-circulo-medico:before {
  content: "\e837"; }

.adi-circulo-paciente:before {
  content: "\e838"; }

.adi-click:before {
  content: "\e839"; }

.adi-clinica:before {
  content: "\e83a"; }

.adi-corazon:before {
  content: "\e83b"; }

.adi-corona:before {
  content: "\e83c"; }

.adi-corazon-outline:before {
  content: "\e83d"; }

.adi-credencial-paciente:before {
  content: "\e83e"; }

.adi-credencial-usuario:before {
  content: "\e83f"; }

.adi-cruz:before {
  content: "\e840"; }

.adi-cruz-hospital:before {
  content: "\e841"; }

.adi-cuentagota:before {
  content: "\e842"; }

.adi-cuerpo:before {
  content: "\e843"; }

.adi-cuna-candado:before {
  content: "\e844"; }

.adi-cuna-destendida:before {
  content: "\e845"; }

.adi-cuna-herramienta:before {
  content: "\e846"; }

.adi-cuna-paciente:before {
  content: "\e847"; }

.adi-cuna-reloj:before {
  content: "\e848"; }

.adi-defensa-civil:before {
  content: "\e849"; }

.adi-desvinculo:before {
  content: "\e84a"; }

.adi-diario:before {
  content: "\e84b"; }

.adi-doctora:before {
  content: "\e84c"; }

.adi-docuemento-manzana:before {
  content: "\e84d"; }

.adi-documento:before {
  content: "\e84e"; }

.adi-documento-corazon:before {
  content: "\e84f"; }

.adi-documento-cruz:before {
  content: "\e850"; }

.adi-documento-cruz-hospital:before {
  content: "\e851"; }

.adi-documento-lapiz:before {
  content: "\e852"; }

.adi-documento-lupa:before {
  content: "\e853"; }

.adi-documento-mas:before {
  content: "\e854"; }

.adi-documento-paciente:before {
  content: "\e855"; }

.adi-documento-reloj:before {
  content: "\e856"; }

.adi-documentos:before {
  content: "\e857"; }

.adi-documento-termometro:before {
  content: "\e858"; }

.adi-documento-tilde:before {
  content: "\e859"; }

.adi-documento-tubo:before {
  content: "\e85a"; }

.adi-enfermera-outline:before {
  content: "\e85b"; }

.adi-enfermero:before {
  content: "\e85c"; }

.adi-enfermero-outline:before {
  content: "\e85d"; }

.adi-enfermero-contorno:before {
  content: "\e85e"; }

.adi-engranaje-outline:before {
  content: "\e85f"; }

.adi-entrada:before {
  content: "\e860"; }

.adi-enviar:before {
  content: "\e861"; }

.adi-escritorio:before {
  content: "\e862"; }

.adi-esqueleto:before {
  content: "\e863"; }

.adi-esqueleto_esqueleto:before {
  content: "\e864"; }

.adi-estadistica:before {
  content: "\e865"; }

.adi-estetoscopio:before {
  content: "\e866"; }

.adi-estomago:before {
  content: "\e867"; }

.adi-estudiante:before {
  content: "\e868"; }

.adi-etiqueta:before {
  content: "\e869"; }

.adi-oxigeno:before {
  content: "\e86a"; }

.adi-farmacia:before {
  content: "\e86c"; }

.adi-femenino:before {
  content: "\e86d"; }

.adi-ferula:before {
  content: "\e86e"; }

.adi-flecha-abajo:before {
  content: "\e86f"; }

.adi-flecha-arriba:before {
  content: "\e870"; }

.adi-flecha-derecha:before {
  content: "\e871"; }

.adi-flecha-izquierda:before {
  content: "\e872"; }

.adi-formula:before {
  content: "\e873"; }

.adi-frasco:before {
  content: "\e874"; }

.adi-frasco-pastillas:before {
  content: "\e875"; }

.adi-garganta:before {
  content: "\e876"; }

.adi-ginecologia:before {
  content: "\e877"; }

.adi-giro:before {
  content: "\e878"; }

.adi-hallazgo:before {
  content: "\e879"; }

.adi-hombre-caminando:before {
  content: "\e87b"; }

.adi-hombre-corriendo:before {
  content: "\e87c"; }

.adi-hospital:before {
  content: "\e87d"; }

.adi-impresora:before {
  content: "\e87e"; }

.adi-infante:before {
  content: "\e87f"; }

.adi-infantil:before {
  content: "\e880"; }

.adi-informacion:before {
  content: "\e881"; }

.adi-informe-medico:before {
  content: "\e882"; }

.adi-cinta:before {
  content: "\e883"; }

.adi-inhalador:before {
  content: "\e884"; }

.adi-interaccion:before {
  content: "\e885"; }

.adi-interconsulta:before {
  content: "\e886"; }

.adi-intestino:before {
  content: "\e887"; }

.adi-cesto:before {
  content: "\e889"; }

.adi-lapiz:before {
  content: "\e88a"; }

.adi-lapiz-documento:before {
  content: "\e88b"; }

.adi-llamada-saliente:before {
  content: "\e88c"; }

.adi-logo-bpn:before {
  content: "\e88d"; }

.adi-logo-facebook:before {
  content: "\e88e"; }

.adi-logo-facebook-outline:before {
  content: "\e88f"; }

.adi-logo-github:before {
  content: "\e890"; }

.adi-logo-github-outline:before {
  content: "\e891"; }

.adi-logo-hpn:before {
  content: "\e892"; }

.adi-logo-ministerio:before {
  content: "\e893"; }

.adi-logo-ministerio-salud:before {
  content: "\e894"; }

.adi-logo-provincia:before {
  content: "\e895"; }

.adi-logo-tics:before {
  content: "\e896"; }

.adi-logo-twitter:before {
  content: "\e897"; }

.adi-logo-twitter-outline:before {
  content: "\e898"; }

.adi-logo-whatsapp:before {
  content: "\e899"; }

.adi-logo-youtube:before {
  content: "\e89a"; }

.adi-logo-youtube-outline:before {
  content: "\e89b"; }

.adi-lupa-ojo:before {
  content: "\e89c"; }

.adi-madre-hijo:before {
  content: "\e89d"; }

.adi-mail:before {
  content: "\e89e"; }

.adi-mail-outline:before {
  content: "\e89f"; }

.adi-mano:before {
  content: "\e8a0"; }

.adi-mano-corazon:before {
  content: "\e8a1"; }

.adi-mano-gota:before {
  content: "\e8a2"; }

.adi-mano-herramienta:before {
  content: "\e8a3"; }

.adi-mano-niño:before {
  content: "\e8a4"; }

.adi-marcador:before {
  content: "\e8a5"; }

.adi-marcador-salud:before {
  content: "\e8a6"; }

.adi-mas:before {
  content: "\e8a7"; }

.adi-masculino:before {
  content: "\e8a8"; }

.adi-mdi-download:before {
  content: "\e8a9"; }

.adi-medica:before {
  content: "\e8aa"; }

.adi-medico:before {
  content: "\e8ab"; }

.adi-microbios:before {
  content: "\e8ac"; }

.adi-microscopio:before {
  content: "\e8ad"; }

.adi-molecula:before {
  content: "\e8ae"; }

.adi-nodos:before {
  content: "\e8af"; }

.adi-nube-bajar:before {
  content: "\e8b0"; }

.adi-nube-subir:before {
  content: "\e8b1"; }

.adi-oreja:before {
  content: "\e8b2"; }

.adi-paciente:before {
  content: "\e8b4"; }

.adi-paciente-casa:before {
  content: "\e8b5"; }

.adi-paciente-completo:before {
  content: "\e8b6"; }

.adi-paciente-hombre:before {
  content: "\e8b7"; }

.adi-paciente-medico:before {
  content: "\e8b8"; }

.adi-paciente-mujer:before {
  content: "\e8b9"; }

.adi-paciente-rayos:before {
  content: "\e8ba"; }

.adi-paciente-sol:before {
  content: "\e8bb"; }

.adi-pildoras:before {
  content: "\e8be"; }

.adi-pastillas:before {
  content: "\e8bf"; }

.adi-pc:before {
  content: "\e8c0"; }

.adi-pico-abajo:before {
  content: "\e8c1"; }

.adi-pico-arriba:before {
  content: "\e8c2"; }

.adi-pico-derecha:before {
  content: "\e8c3"; }

.adi-pico-izquierda:before {
  content: "\e8c4"; }

.adi-pie:before {
  content: "\e8c5"; }

.adi-pildora:before {
  content: "\e8c6"; }

.adi-pipeta:before {
  content: "\e8c7"; }

.adi-planilla-electro:before {
  content: "\e8c8"; }

.adi-planilla-pipeta:before {
  content: "\e8c9"; }

.adi-planilla-tubo:before {
  content: "\e8ca"; }

.adi-prohibido:before {
  content: "\e8cd"; }

.adi-puerta-salir:before {
  content: "\e8ce"; }

.adi-pulmones:before {
  content: "\e8cf"; }

.adi-rayos:before {
  content: "\e8d0"; }

.adi-recipiente:before {
  content: "\e8d1"; }

.adi-recuperar:before {
  content: "\e8d2"; }

.adi-reloj:before {
  content: "\e8d3"; }

.adi-resonancia:before {
  content: "\e8d4"; }

.adi-semantics:before {
  content: "\e8d7"; }

.adi-silencio:before {
  content: "\e8d8"; }

.adi-tablet:before {
  content: "\e8d9"; }

.adi-telefono:before {
  content: "\e8da"; }

.adi-termometro:before {
  content: "\e8db"; }

.adi-llave:before {
  content: "\e8dc"; }

.adi-tilde:before {
  content: "\e8de"; }

.adi-trastorno:before {
  content: "\e8df"; }

.adi-traumatologia:before {
  content: "\e8e0"; }

.adi-turno-bold:before {
  content: "\e8e1"; }

.adi-turno-codigo:before {
  content: "\e8e2"; }

.adi-turno-mas:before {
  content: "\e8e3"; }

.adi-turno-mas-bold:before {
  content: "\e8e4"; }

.adi-turno-menos:before {
  content: "\e8e5"; }

.adi-turno-reloj-bold:before {
  content: "\e8e6"; }

.adi-turno-tilde:before {
  content: "\e8e7"; }

.adi-turno-tilde-bold:before {
  content: "\e8e8"; }

.adi-user-folder:before {
  content: "\e8ea"; }

.adi-riñones:before {
  content: "\e8d5"; }

.adi-documento-cursor:before {
  content: "\e8ec"; }

.adi-salida:before {
  content: "\e8d6"; }

.adi-calendario-fecha-abajo:before {
  content: "\e819"; }

.adi-account:before {
  content: "\e888"; }

.adi-account-alert:before {
  content: "\e8b3"; }

.adi-account-check:before {
  content: "\e8bc"; }

.adi-account-convert:before {
  content: "\e8bd"; }

.adi-account-key:before {
  content: "\e8cb"; }

.adi-account-multiple:before {
  content: "\e8cc"; }

.adi-account-multiple-outline:before {
  content: "\e8dd"; }

.adi-account-multiple-plus:before {
  content: "\e8e9"; }

.adi-account-off:before {
  content: "\e8eb"; }

.adi-account-outline:before {
  content: "\e8ed"; }

.adi-account-plus:before {
  content: "\e8ee"; }

.adi-account-remove:before {
  content: "\e8ef"; }

.adi-android:before {
  content: "\e8f0"; }

.adi-apps:before {
  content: "\e8f1"; }

.adi-arrow-down:before {
  content: "\e8f2"; }

.adi-arrow-down-drop-circle:before {
  content: "\e8f3"; }

.adi-arrow-down-drop-circle-outline:before {
  content: "\e8f4"; }

.adi-arrow-left:before {
  content: "\e8f5"; }

.adi-arrow-left-drop-circle:before {
  content: "\e8f6"; }

.adi-arrow-left-drop-circle-outline:before {
  content: "\e8f7"; }

.adi-arrow-up:before {
  content: "\e8f8"; }

.adi-arrow-up-bold-circle:before {
  content: "\e8f9"; }

.adi-arrow-up-bold-circle-outline:before {
  content: "\e8fa"; }

.adi-arrow-up-drop-circle:before {
  content: "\e8fb"; }

.adi-flask-empty-outline:before {
  content: "\e8fc"; }

.adi-bell:before {
  content: "\e8fd"; }

.adi-bell-ring:before {
  content: "\e8fe"; }

.adi-bell-ring-outline:before {
  content: "\e8ff"; }

.adi-bio:before {
  content: "\e900"; }

.adi-blur:before {
  content: "\e901"; }

.adi-book:before {
  content: "\e902"; }

.adi-border-bottom:before {
  content: "\e903"; }

.adi-border-color:before {
  content: "\e904"; }

.adi-border-left:before {
  content: "\e905"; }

.adi-border-right:before {
  content: "\e906"; }

.adi-border-top:before {
  content: "\e907"; }

.adi-car:before {
  content: "\e908"; }

.adi-cart:before {
  content: "\e909"; }

.adi-cat:before {
  content: "\e90a"; }

.adi-cellphone:before {
  content: "\e90b"; }

.adi-cellphone-android:before {
  content: "\e90c"; }

.adi-chart-pie:before {
  content: "\e90d"; }

.adi-check:before {
  content: "\e90e"; }

.adi-checkbox-blank:before {
  content: "\e90f"; }

.adi-checkbox-blank-circle:before {
  content: "\e910"; }

.adi-checkbox-blank-circle-outline:before {
  content: "\e912"; }

.adi-city:before {
  content: "\e915"; }

.adi-clipboard:before {
  content: "\e916"; }

.adi-clipboard-account:before {
  content: "\e917"; }

.adi-clipboard-arrow-left:before {
  content: "\e918"; }

.adi-clipboard-check:before {
  content: "\e919"; }

.adi-close:before {
  content: "\e91a"; }

.adi-close-box:before {
  content: "\e91b"; }

.adi-close-circle:before {
  content: "\e91c"; }

.adi-close-circle-outline:before {
  content: "\e91d"; }

.adi-comment:before {
  content: "\e91e"; }

.adi-comment-outline:before {
  content: "\e91f"; }

.adi-dice-4:before {
  content: "\e922"; }

.adi-dice-5:before {
  content: "\e923"; }

.adi-dice-6:before {
  content: "\e924"; }

.adi-dots-vertical:before {
  content: "\e925"; }

.adi-download:before {
  content: "\e926"; }

.adi-drag:before {
  content: "\e927"; }

.adi-drone:before {
  content: "\e928"; }

.adi-eject:before {
  content: "\e929"; }

.adi-email:before {
  content: "\e92a"; }

.adi-email-outline:before {
  content: "\e92b"; }

.adi-file-pdf:before {
  content: "\e92c"; }

.adi-filter:before {
  content: "\e92d"; }

.adi-fire:before {
  content: "\e92e"; }

.adi-firefox:before {
  content: "\e92f"; }

.adi-flag:before {
  content: "\e930"; }

.adi-folder:before {
  content: "\e931"; }

.adi-folder-account:before {
  content: "\e932"; }

.adi-folder-remove:before {
  content: "\e933"; }

.adi-forward:before {
  content: "\e934"; }

.adi-function:before {
  content: "\e935"; }

.adi-gate:before {
  content: "\e936"; }

.adi-git:before {
  content: "\e937"; }

.adi-help-circle:before {
  content: "\e938"; }

.adi-history:before {
  content: "\e939"; }

.adi-home:before {
  content: "\e93a"; }

.adi-bed:before {
  content: "\e93b"; }

.adi-pot:before {
  content: "\e93c"; }

.adi-human:before {
  content: "\e93d"; }

.adi-human-child:before {
  content: "\e93e"; }

.adi-image:before {
  content: "\e93f"; }

.adi-import:before {
  content: "\e940"; }

.adi-information:before {
  content: "\e941"; }

.adi-information-outline:before {
  content: "\e942"; }

.adi-key:before {
  content: "\e943"; }

.adi-logout:before {
  content: "\e944"; }

.adi-magnify:before {
  content: "\e945"; }

.adi-map:before {
  content: "\e946"; }

.adi-map-marker:before {
  content: "\e947"; }

.adi-margin:before {
  content: "\e948"; }

.adi-menu:before {
  content: "\e949"; }

.adi-menu-down:before {
  content: "\e94a"; }

.adi-menu-left:before {
  content: "\e94b"; }

.adi-menu-right:before {
  content: "\e94c"; }

.adi-menu-up:before {
  content: "\e94d"; }

.adi-message:before {
  content: "\e94e"; }

.adi-message-alert:before {
  content: "\e94f"; }

.adi-numeric-2-box-multiple-outline:before {
  content: "\e950"; }

.adi-open-in-app:before {
  content: "\e951"; }

.adi-package:before {
  content: "\e953"; }

.adi-panda:before {
  content: "\e954"; }

.adi-pause:before {
  content: "\e955"; }

.adi-pen:before {
  content: "\e956"; }

.adi-pencil:before {
  content: "\e957"; }

.adi-percent:before {
  content: "\e958"; }

.adi-phone:before {
  content: "\e959"; }

.adi-pi:before {
  content: "\e95a"; }

.adi-pill:before {
  content: "\e95b"; }

.adi-radio:before {
  content: "\e95c"; }

.adi-radio-tower:before {
  content: "\e95d"; }

.adi-read:before {
  content: "\e95e"; }

.adi-refresh:before {
  content: "\e95f"; }

.adi-regex:before {
  content: "\e960"; }

.adi-reload:before {
  content: "\e961"; }

.adi-repeat:before {
  content: "\e962"; }

.adi-responsive:before {
  content: "\e963"; }

.adi-ribbon:before {
  content: "\e964"; }

.adi-routes:before {
  content: "\e965"; }

.adi-scale:before {
  content: "\e966"; }

.adi-sd:before {
  content: "\e967"; }

.adi-star:before {
  content: "\e968"; }

.adi-star-outline:before {
  content: "\e969"; }

.adi-stop:before {
  content: "\e96a"; }

.adi-store:before {
  content: "\e96b"; }

.adi-switch:before {
  content: "\e96c"; }

.adi-sword:before {
  content: "\e96d"; }

.adi-sync:before {
  content: "\e96e"; }

.adi-sync-alert:before {
  content: "\e96f"; }

.adi-tab:before {
  content: "\e970"; }

.adi-table:before {
  content: "\e971"; }

.adi-table-large:before {
  content: "\e972"; }

.adi-tag:before {
  content: "\e973"; }

.adi-upload:before {
  content: "\e974"; }

.adi-vector-difference:before {
  content: "\e975"; }

.adi-vector-difference-ab:before {
  content: "\e976"; }

.adi-vector-difference-ba:before {
  content: "\e977"; }

.adi-walk:before {
  content: "\e978"; }

.adi-wan:before {
  content: "\e979"; }

.adi-watch:before {
  content: "\e97a"; }

.adi-web-1:before {
  content: "\e97b"; }

.adi-weight:before {
  content: "\e97c"; }

.adi-wrap:before {
  content: "\e97d"; }

.adi-xml:before {
  content: "\e97e"; }

.adi-youtube:before {
  content: "\e97f"; }

.adi-dice-d8-outline:before {
  content: "\e980"; }

.adi-dice-d6-outline:before {
  content: "\e981"; }

.adi-disc:before {
  content: "\e982"; }

.adi-application:before {
  content: "\e983"; }

.adi-buffer:before {
  content: "\e984"; }

.adi-dialpad:before {
  content: "\e985"; }

.adi-matrix:before {
  content: "\e986"; }

.adi-account-details:before {
  content: "\e987"; }

.adi-box-shadow:before {
  content: "\e988"; }

.adi-cards:before {
  content: "\e989"; }

.adi-face:before {
  content: "\e98a"; }

.adi-file-tree:before {
  content: "\e98b"; }

.adi-gradient:before {
  content: "\e98c"; }

.adi-message-bulleted:before {
  content: "\e98d"; }

.adi-publish:before {
  content: "\e98e"; }

.adi-scanner:before {
  content: "\e98f"; }

.adi-update:before {
  content: "\e990"; }

.adi-angular:before {
  content: "\e991"; }

.adi-plex:before {
  content: "\e992"; }

.adi-angularjs:before {
  content: "\e993"; }

.adi-arrow-down-box:before {
  content: "\e994"; }

.adi-arrow-up-box:before {
  content: "\e995"; }

.adi-asterisk:before {
  content: "\e996"; }

.adi-bootstrap:before {
  content: "\e997"; }

.adi-format-list-checks:before {
  content: "\e998"; }

.adi-atom:before {
  content: "\e999"; }

.adi-loading:before {
  content: "\e99a"; }

.adi-sign-direction:before {
  content: "\e99b"; }

.adi-null:before {
  content: "\e99c"; }

.adi-pipe:before {
  content: "\e99d"; }

.adi-ring:before {
  content: "\e99e"; }

.adi-sass:before {
  content: "\e99f"; }

.adi-shape:before {
  content: "\e9a0"; }

.adi-check-outline:before {
  content: "\e9a1"; }

.adi-pier:before {
  content: "\e9a2"; }

.adi-bed-empty:before {
  content: "\e9a3"; }

.adi-clock:before {
  content: "\e9a4"; }

.adi-home-plus:before {
  content: "\e9a5"; }

.adi-restore:before {
  content: "\e9a6"; }

.adi-text:before {
  content: "\e9a7"; }

.adi-table-border:before {
  content: "\e9a8"; }

.adi-contain:before {
  content: "\e9a9"; }

.adi-doctor:before {
  content: "\e9aa"; }

.adi-hand:before {
  content: "\e9ab"; }

.adi-ip:before {
  content: "\e9ac"; }

.adi-safe:before {
  content: "\e9ad"; }

.adi-trash-can:before {
  content: "\e9ae"; }

.adi-et:before {
  content: "\e9af"; }

.adi-emoticon:before {
  content: "\e9b0"; }

.adi-emoticon-happy:before {
  content: "\e9b1"; }

.adi-emoticon-sad:before {
  content: "\e9b2"; }

.adi-radius:before {
  content: "\e9b3"; }

.adi-spa:before {
  content: "\e9b4"; }

.adi-bullet:before {
  content: "\e9b5"; }

.adi-gif:before {
  content: "\e9b6"; }

.adi-tea:before {
  content: "\e9b7"; }

.adi-mine:before {
  content: "\e9b8"; }

.adi-nail:before {
  content: "\e9b9"; }

.adi-send-circle:before {
  content: "\e9ba"; }

.adi-grill:before {
  content: "\e9bb"; }

.adi-middleware:before {
  content: "\e9bc"; }

.adi-bee:before {
  content: "\e9bd"; }

.adi-hospital-1:before {
  content: "\e9be"; }

.adi-post:before {
  content: "\e9bf"; }

.adi-graph:before {
  content: "\e9c0"; }

.adi-form-textarea:before {
  content: "\e9c1"; }

.adi-api:before {
  content: "\e9c2"; }

.adi-diabetes:before {
  content: "\e9c3"; }

.adi-router:before {
  content: "\e9c4"; }

.adi-desk:before {
  content: "\e9c5"; }

.adi-oci:before {
  content: "\e9c6"; }

.adi-ski:before {
  content: "\e9c7"; }

.adi-account-search:before {
  content: "\e9c8"; }

.adi-account-switch:before {
  content: "\e9c9"; }

.adi-adjust:before {
  content: "\e9ca"; }

.adi-alert:before {
  content: "\e9cb"; }

.adi-alert-circle:before {
  content: "\e9cc"; }

.adi-alert-outline:before {
  content: "\e9cd"; }

.adi-alpha:before {
  content: "\e9ce"; }

.adi-anchor:before {
  content: "\e9cf"; }

.adi-arrow-up-drop-circle-outline:before {
  content: "\e9d0"; }

.adi-at:before {
  content: "\e9d1"; }

.adi-baby:before {
  content: "\e9d2"; }

.adi-backup-restore:before {
  content: "\e9d3"; }

.adi-barcode:before {
  content: "\e9d4"; }

.adi-barcode-scan:before {
  content: "\e9d5"; }

.adi-flask:before {
  content: "\e9d6"; }

.adi-flask-empty:before {
  content: "\e9d7"; }

.adi-box:before {
  content: "\e9d8"; }

.adi-bug:before {
  content: "\e9d9"; }

.adi-bus:before {
  content: "\e9da"; }

.adi-calendar:before {
  content: "\e9db"; }

.adi-calendar-clock:before {
  content: "\e9dc"; }

.adi-calendar-multiple:before {
  content: "\e9dd"; }

.adi-calendar-plus:before {
  content: "\e9de"; }

.adi-calendar-today:before {
  content: "\e9df"; }

.adi-checkbox-blank-circle-outline-2:before {
  content: "\e9e0"; }

.adi-checkbox-blank-outline:before {
  content: "\e9e1"; }

.adi-checkbox-marked:before {
  content: "\e9e2"; }

.adi-chevron-up:before {
  content: "\e914"; }

.adi-chevron-down:before {
  content: "\e9e5"; }

.adi-chevron-left:before {
  content: "\e9e6"; }

.adi-chevron-right:before {
  content: "\e9e7"; }

.adi-chevron-double-up:before {
  content: "\ea70"; }

.adi-chevron-double-down:before {
  content: "\ea71"; }

.adi-chevron-double-left:before {
  content: "\e9e3"; }

.adi-chevron-double-right:before {
  content: "\e9e4"; }

.adi-compare:before {
  content: "\e9e8"; }

.adi-content-copy:before {
  content: "\e9e9"; }

.adi-content-paste:before {
  content: "\e9ea"; }

.adi-content-save:before {
  content: "\e9eb"; }

.adi-cup:before {
  content: "\e9ec"; }

.adi-delete:before {
  content: "\e9ed"; }

.adi-details:before {
  content: "\e9ee"; }

.adi-dice-1:before {
  content: "\e9ef"; }

.adi-export:before {
  content: "\e9f0"; }

.adi-eye:before {
  content: "\e9f1"; }

.adi-eye-off:before {
  content: "\e9f2"; }

.adi-eyedropper:before {
  content: "\e9f3"; }

.adi-eyedropper-variant:before {
  content: "\e9f4"; }

.adi-file:before {
  content: "\e9f5"; }

.adi-file-chart:before {
  content: "\e9f6"; }

.adi-file-multiple:before {
  content: "\e9f7"; }

.adi-github:before {
  content: "\e9f8"; }

.adi-google:before {
  content: "\e9f9"; }

.adi-google-chrome:before {
  content: "\e9fa"; }

.adi-grid:before {
  content: "\e9fb"; }

.adi-group:before {
  content: "\e9fc"; }

.adi-heart:before {
  content: "\e9fd"; }

.adi-help:before {
  content: "\e9ff"; }

.adi-label:before {
  content: "\ea00"; }

.adi-lan:before {
  content: "\ea01"; }

.adi-layers:before {
  content: "\ea02"; }

.adi-link:before {
  content: "\ea03"; }

.adi-link-variant:before {
  content: "\ea04"; }

.adi-link-variant-off:before {
  content: "\ea05"; }

.adi-lock:before {
  content: "\ea06"; }

.adi-login:before {
  content: "\ea07"; }

.adi-message-processing:before {
  content: "\ea08"; }

.adi-message-text:before {
  content: "\ea09"; }

.adi-message-text-outline:before {
  content: "\ea0a"; }

.adi-monitor:before {
  content: "\ea0b"; }

.adi-more:before {
  content: "\ea0c"; }

.adi-mouse:before {
  content: "\ea0d"; }

.adi-needle:before {
  content: "\ea0e"; }

.adi-numeric-1-box-outline:before {
  content: "\ea0f"; }

.adi-pin:before {
  content: "\ea10"; }

.adi-play:before {
  content: "\ea11"; }

.adi-playlist-plus:before {
  content: "\ea12"; }

.adi-plus:before {
  content: "\ea13"; }

.adi-plus-circle:before {
  content: "\ea14"; }

.adi-poll:before {
  content: "\ea15"; }

.adi-printer:before {
  content: "\ea16"; }

.adi-pulse:before {
  content: "\ea17"; }

.adi-select:before {
  content: "\ea18"; }

.adi-send:before {
  content: "\ea19"; }

.adi-server:before {
  content: "\ea1a"; }

.adi-cog:before {
  content: "\ea1b"; }

.adi-share:before {
  content: "\ea1c"; }

.adi-sim:before {
  content: "\ea1d"; }

.adi-skip-forward:before {
  content: "\ea1e"; }

.adi-sort:before {
  content: "\ea1f"; }

.adi-target:before {
  content: "\ea20"; }

.adi-tent:before {
  content: "\ea21"; }

.adi-tie:before {
  content: "\ea22"; }

.adi-timelapse:before {
  content: "\ea23"; }

.adi-tooltip:before {
  content: "\ea24"; }

.adi-tram:before {
  content: "\ea25"; }

.adi-tree:before {
  content: "\ea26"; }

.adi-undo:before {
  content: "\ea27"; }

.adi-translate:before {
  content: "\ea28"; }

.adi-opacity:before {
  content: "\ea29"; }

.adi-card-account-details:before {
  content: "\ea2a"; }

.adi-alert-circle-outline:before {
  content: "\ea2b"; }

.adi-animation:before {
  content: "\ea2c"; }

.adi-check-circle:before {
  content: "\ea2d"; }

.adi-dice-d20-outline:before {
  content: "\ea2e"; }

.adi-dice-d4-outline:before {
  content: "\ea2f"; }

.adi-human-female:before {
  content: "\ea30"; }

.adi-human-male:before {
  content: "\ea31"; }

.adi-information-variant:before {
  content: "\ea32"; }

.adi-marker:before {
  content: "\ea33"; }

.adi-phone-plus:before {
  content: "\ea34"; }

.adi-oar:before {
  content: "\ea35"; }

.adi-solid:before {
  content: "\ea36"; }

.adi-bomb:before {
  content: "\ea37"; }

.adi-contacts:before {
  content: "\ea38"; }

.adi-delete-empty:before {
  content: "\ea39"; }

.adi-nut:before {
  content: "\ea3a"; }

.adi-react:before {
  content: "\ea3b"; }

.adi-run:before {
  content: "\ea3c"; }

.adi-svg:before {
  content: "\ea3d"; }

.adi-arrow-up-bold:before {
  content: "\ea3e"; }

.adi-cancel:before {
  content: "\ea3f"; }

.adi-clipboard-check-outline:before {
  content: "\ea40"; }

.adi-tooth:before {
  content: "\ea41"; }

.adi-arch:before {
  content: "\ea42"; }

.adi-cogs:before {
  content: "\ea43"; }

.adi-lock-alert:before {
  content: "\ea44"; }

.adi-nas:before {
  content: "\ea45"; }

.adi-table-search:before {
  content: "\ea46"; }

.adi-transition:before {
  content: "\ea47"; }

.adi-variable:before {
  content: "\ea48"; }

.adi-ember:before {
  content: "\ea49"; }

.adi-origin:before {
  content: "\ea4a"; }

.adi-silo:before {
  content: "\ea4b"; }

.adi-card:before {
  content: "\ea4c"; }

.adi-card-text:before {
  content: "\ea4d"; }

.adi-pan:before {
  content: "\ea4e"; }

.adi-script:before {
  content: "\ea4f"; }

.adi-ellipse:before {
  content: "\ea50"; }

.adi-mail-1:before {
  content: "\ea51"; }

.adi-rotate-3d:before {
  content: "\ea52"; }

.adi-segment:before {
  content: "\ea53"; }

.adi-unicode:before {
  content: "\ea54"; }

.adi-latitude:before {
  content: "\ea55"; }

.adi-longitude:before {
  content: "\ea56"; }

.adi-merge:before {
  content: "\ea57"; }

.adi-head:before {
  content: "\ea58"; }

.adi-timer:before {
  content: "\ea59"; }

.adi-familia:before {
  content: "\ea5a"; }

.adi-cloud-off-outline:before {
  content: "\e86b"; }

.adi-cloud-check-outline:before {
  content: "\ea5b"; }

.adi-selection:before {
  content: "\ea5c"; }

.adi-view-day:before {
  content: "\ea5d"; }

.adi-numeric:before {
  content: "\ea5e"; }

.adi-decimal:before {
  content: "\ea5f"; }

.adi-account-circle:before {
  content: "\ea60"; }

.adi-dots-horizontal:before {
  content: "\ea61"; }

.adi-page-layout-header:before {
  content: "\ea62"; }

.adi-view-grid:before {
  content: "\ea63"; }

.adi-view-quilt:before {
  content: "\ea64"; }

.adi-auto-fix:before {
  content: "\ea65"; }

.adi-form-textbox:before {
  content: "\ea66"; }

.adi-format-list-bulleted:before {
  content: "\ea67"; }

.adi-clipboard-plus:before {
  content: "\ea68"; }

.adi-reply:before {
  content: "\ea69"; }

.adi-hospital-building:before {
  content: "\ea6a"; }

.adi-menos:before {
  content: "\e9fe"; }

.adi-fullscreen:before {
  content: "\ea6b"; }

.adi-star-off-outline:before {
  content: "\ea6c"; }

.adi-star-off:before {
  content: "\ea6d"; }

.adi-historial:before {
  content: "\e87a"; }

.adi-database-search:before {
  content: "\ea6e"; }

.adi-dice-3:before {
  content: "\e921"; }

.adi-dice-2:before {
  content: "\e920"; }

.adi-exportar-corazon:before {
  content: "\ea72"; }

.adi-avion:before {
  content: "\e911"; }

.adi-checkbox-blank-circle-1:before {
  content: "\e911"; }

.adi-checkbox-blank-circle-outline-1:before {
  content: "\e913"; }

.adi-opera:before {
  content: "\e952"; }

.adi-blank:before {
  content: "\F68C";
  visibility: hidden; }

.adi-18px.adi-set, .adi-18px.adi:before {
  font-size: 18px; }

.adi-24px.adi-set, .adi-24px.adi:before {
  font-size: 24px; }

.adi-36px.adi-set, .adi-36px.adi:before {
  font-size: 36px; }

.adi-48px.adi-set, .adi-48px.adi:before {
  font-size: 48px; }

.adi-dark:before {
  color: rgba(0, 0, 0, 0.54); }

.adi-dark.mdi-inactive:before {
  color: rgba(0, 0, 0, 0.26); }

.adi-light:before {
  color: white; }

.adi-light.mdi-inactive:before {
  color: rgba(255, 255, 255, 0.3); }

.adi-rotate-45 {
  /*
        // Not included in production
        &.adi-flip-h:before {
            -webkit-transform: scaleX(-1) rotate(45deg);
            transform: scaleX(-1) rotate(45deg);
            filter: FlipH;
            -ms-filter: "FlipH";
        }
        &.adi-flip-v:before {
            -webkit-transform: scaleY(-1) rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: scaleY(-1) rotate(45deg);
            filter: FlipV;
            -ms-filter: "FlipV";
        }
        */ }
  .adi-rotate-45:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }

.adi-rotate-90 {
  /*
        // Not included in production
        &.adi-flip-h:before {
            -webkit-transform: scaleX(-1) rotate(90deg);
            transform: scaleX(-1) rotate(90deg);
            filter: FlipH;
            -ms-filter: "FlipH";
        }
        &.adi-flip-v:before {
            -webkit-transform: scaleY(-1) rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: scaleY(-1) rotate(90deg);
            filter: FlipV;
            -ms-filter: "FlipV";
        }
        */ }
  .adi-rotate-90:before {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }

.adi-rotate-135 {
  /*
        // Not included in production
        &.adi-flip-h:before {
            -webkit-transform: scaleX(-1) rotate(135deg);
            transform: scaleX(-1) rotate(135deg);
            filter: FlipH;
            -ms-filter: "FlipH";
        }
        &.adi-flip-v:before {
            -webkit-transform: scaleY(-1) rotate(135deg);
            -ms-transform: rotate(135deg);
            transform: scaleY(-1) rotate(135deg);
            filter: FlipV;
            -ms-filter: "FlipV";
        }
        */ }
  .adi-rotate-135:before {
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg); }

.adi-rotate-180 {
  /*
        // Not included in production
        &.adi-flip-h:before {
            -webkit-transform: scaleX(-1) rotate(180deg);
            transform: scaleX(-1) rotate(180deg);
            filter: FlipH;
            -ms-filter: "FlipH";
        }
        &.adi-flip-v:before {
            -webkit-transform: scaleY(-1) rotate(180deg);
            -ms-transform: rotate(180deg);
            transform: scaleY(-1) rotate(180deg);
            filter: FlipV;
            -ms-filter: "FlipV";
        }
        */ }
  .adi-rotate-180:before {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }

.adi-rotate-225 {
  /*
        // Not included in production
        &.adi-flip-h:before {
            -webkit-transform: scaleX(-1) rotate(225deg);
            transform: scaleX(-1) rotate(225deg);
            filter: FlipH;
            -ms-filter: "FlipH";
        }
        &.adi-flip-v:before {
            -webkit-transform: scaleY(-1) rotate(225deg);
            -ms-transform: rotate(225deg);
            transform: scaleY(-1) rotate(225deg);
            filter: FlipV;
            -ms-filter: "FlipV";
        }
        */ }
  .adi-rotate-225:before {
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg); }

.adi-rotate-270 {
  /*
        // Not included in production
        &.adi-flip-h:before {
            -webkit-transform: scaleX(-1) rotate(270deg);
            transform: scaleX(-1) rotate(270deg);
            filter: FlipH;
            -ms-filter: "FlipH";
        }
        &.adi-flip-v:before {
            -webkit-transform: scaleY(-1) rotate(270deg);
            -ms-transform: rotate(270deg);
            transform: scaleY(-1) rotate(270deg);
            filter: FlipV;
            -ms-filter: "FlipV";
        }
        */ }
  .adi-rotate-270:before {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg); }

.adi-rotate-315 {
  /*
        // Not included in production
        &.adi-flip-h:before {
            -webkit-transform: scaleX(-1) rotate(315deg);
            transform: scaleX(-1) rotate(315deg);
            filter: FlipH;
            -ms-filter: "FlipH";
        }
        &.adi-flip-v:before {
            -webkit-transform: scaleY(-1) rotate(315deg);
            -ms-transform: rotate(315deg);
            transform: scaleY(-1) rotate(315deg);
            filter: FlipV;
            -ms-filter: "FlipV";
        }
        */ }
  .adi-rotate-315:before {
    -webkit-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    transform: rotate(315deg); }

.adi-flip-h:before {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH"; }

.adi-flip-v:before {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipV;
  -ms-filter: "FlipV"; }

.adi-spin:before {
  -webkit-animation: adi-spin 2s infinite linear;
  animation: adi-spin 2s infinite linear; }

@-webkit-keyframes adi-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes adi-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

/*# sourceMappingURL=andes-icons.css.map */