/* MaterialDesignIcons.com */
/*
$mdi-icons: (
     "rup-elementoderegistro": 61,
     "rup-semantic-dispositivos": 62,
     "rup-semantic-hallazgos": 63,
     "rup-semantic-planes": 64,
     "rup-semantic-productos": 65,
     "rup-semantic-procedimientos": 66,
     "rup-semantic-todos": 67,
     "rup-semantic-trastornos": 68,
);
*/
@font-face {
  font-family: "Andes Icons";
  src: url("../fonts/andes-font.eot?v=1.0.0");
  src: url("../fonts/andes-font.eot?#iefix&v=1.0.0") format("embedded-opentype"), url("../fonts/andes-font.woff?v=1.0.0") format("woff"), url("../fonts/andes-font.ttf?v=1.0.0") format("truetype"), url("../fonts/andes-font.svg?v=1.0.0#andes-fontregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.adi:before,
.adi-set {
  display: inline-block;
  font: normal normal normal 24px/1 "Andes Icons";
  font-size: inherit;
  text-rendering: auto;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.adi-rup-semantic-trastorno:before {
  content: "\50"; }

.adi-rup-semantic-todos:before {
  content: "\51"; }

.adi-rup-semantic-producto:before {
  content: "\52"; }

.adi-icon-rup-semantic-plan-1:before {
  content: "\53"; }

.adi-rup-semantic-plan:before {
  content: "\54"; }

.adi-rup-semantic-hallazgo:before {
  content: "\55"; }

.adi-rup-semantic-dispositivo:before {
  content: "\56"; }

.adi-semantic-elementoderegistro:before {
  content: "\57"; }

.adi-alertas:before {
  content: "\61"; }

.adi-arbol:before {
  content: "\62"; }

.adi-cama:before {
  content: "\63"; }

.adi-cama-bloqueada:before {
  content: "\64"; }

.adi-cama-candado:before {
  content: "\65"; }

.adi-cama-check:before {
  content: "\66"; }

.adi-cama-femenino:before {
  content: "\68"; }

.adi-cama-lapiz-1:before {
  content: "\69"; }

.adi-cama-lapiz:before {
  content: "\6a"; }

.adi-cama-masculino:before {
  content: "\6b"; }

.adi-cama-ocupada:before {
  content: "\6c"; }

.adi-cama-oxigeno:before {
  content: "\6d"; }

.adi-cama-pausada:before {
  content: "\6e"; }

.adi-cama-reloj:before {
  content: "\6f"; }

.adi-cama-configuracion:before {
  content: "\70"; }

.adi-dieta:before {
  content: "\71"; }

.adi-documento:before {
  content: "\72"; }

.adi-egreso:before {
  content: "\73"; }

.adi-rup-calificador:before {
  content: "\75"; }

.adi-agendas:before {
  content: "\76"; }

.adi-alerta:before {
  content: "\77"; }

.adi-ambulancia:before {
  content: "\78"; }

.adi-bomberos:before {
  content: "\79"; }

.adi-confirmar:before {
  content: "\7a"; }

.adi-defensa-civil:before {
  content: "\41"; }

.adi-farmacia:before {
  content: "\42"; }

.adi-horario:before {
  content: "\43"; }

.adi-hospital:before {
  content: "\44"; }

.adi-huds:before {
  content: "\45"; }

.adi-laboratorio:before {
  content: "\46"; }

.adi-logo:before {
  content: "\47"; }

.adi-maltrato:before {
  content: "\48"; }

.adi-marker:before {
  content: "\49"; }

.adi-marker-salud:before {
  content: "\4a"; }

.adi-mpi:before {
  content: "\4b"; }

.adi-noticia:before {
  content: "\4c"; }

.adi-paciente:before {
  content: "\4d"; }

.adi-policia:before {
  content: "\4f"; }

.adi-profesional:before {
  content: "\58"; }

.adi-profesional-circulo:before {
  content: "\59"; }

.adi-telefono:before {
  content: "\5a"; }

.adi-turno:before {
  content: "\30"; }

.adi-vacuna:before {
  content: "\31"; }

.adi-violencia-familiar:before {
  content: "\32"; }

.adi-hospital-cyan:before {
  content: "\33"; }

.adi-calendario-dia-oscuro:before {
  content: "\34"; }

.adi-calendario-rango-oscuro:before {
  content: "\35"; }

.adi-defensa-civil-oscuro:before {
  content: "\39"; }

.adi-llamar-oscuro:before {
  content: "\36"; }

.adi-cama-reparacion:before {
  content: "\67"; }

.adi-andes-icon-cama-reparacion:before {
  content: "\37"; }

.adi-cuna:before {
  content: "\38"; }

.adi-cuna-bloqueada:before {
  content: "\21"; }

.adi-cuna-desocupada:before {
  content: "\22"; }

.adi-cuna-pausada-1:before {
  content: "\23"; }

.adi-cuna-pausada:before {
  content: "\24"; }

.adi-cuna-reparacion:before {
  content: "\25"; }

.adi-cama-desocupada:before {
  content: "\67"; }

.adi-paciente-circulo:before {
  content: "\4e"; }

.adi-evoluciones:before {
  content: "\74"; }

.adi-blank:before {
  content: "\F68C";
  visibility: hidden; }

.adi-18px.adi-set, .adi-18px.adi:before {
  font-size: 18px; }

.adi-24px.adi-set, .adi-24px.adi:before {
  font-size: 24px; }

.adi-36px.adi-set, .adi-36px.adi:before {
  font-size: 36px; }

.adi-48px.adi-set, .adi-48px.adi:before {
  font-size: 48px; }

.adi-dark:before {
  color: rgba(0, 0, 0, 0.54); }

.adi-dark.mdi-inactive:before {
  color: rgba(0, 0, 0, 0.26); }

.adi-light:before {
  color: white; }

.adi-light.mdi-inactive:before {
  color: rgba(255, 255, 255, 0.3); }

.adi-rotate-45 {
  /*
        // Not included in production
        &.adi-flip-h:before {
            -webkit-transform: scaleX(-1) rotate(45deg);
            transform: scaleX(-1) rotate(45deg);
            filter: FlipH;
            -ms-filter: "FlipH";
        }
        &.adi-flip-v:before {
            -webkit-transform: scaleY(-1) rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: scaleY(-1) rotate(45deg);
            filter: FlipV;
            -ms-filter: "FlipV";
        }
        */ }
  .adi-rotate-45:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }

.adi-rotate-90 {
  /*
        // Not included in production
        &.adi-flip-h:before {
            -webkit-transform: scaleX(-1) rotate(90deg);
            transform: scaleX(-1) rotate(90deg);
            filter: FlipH;
            -ms-filter: "FlipH";
        }
        &.adi-flip-v:before {
            -webkit-transform: scaleY(-1) rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: scaleY(-1) rotate(90deg);
            filter: FlipV;
            -ms-filter: "FlipV";
        }
        */ }
  .adi-rotate-90:before {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }

.adi-rotate-135 {
  /*
        // Not included in production
        &.adi-flip-h:before {
            -webkit-transform: scaleX(-1) rotate(135deg);
            transform: scaleX(-1) rotate(135deg);
            filter: FlipH;
            -ms-filter: "FlipH";
        }
        &.adi-flip-v:before {
            -webkit-transform: scaleY(-1) rotate(135deg);
            -ms-transform: rotate(135deg);
            transform: scaleY(-1) rotate(135deg);
            filter: FlipV;
            -ms-filter: "FlipV";
        }
        */ }
  .adi-rotate-135:before {
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg); }

.adi-rotate-180 {
  /*
        // Not included in production
        &.adi-flip-h:before {
            -webkit-transform: scaleX(-1) rotate(180deg);
            transform: scaleX(-1) rotate(180deg);
            filter: FlipH;
            -ms-filter: "FlipH";
        }
        &.adi-flip-v:before {
            -webkit-transform: scaleY(-1) rotate(180deg);
            -ms-transform: rotate(180deg);
            transform: scaleY(-1) rotate(180deg);
            filter: FlipV;
            -ms-filter: "FlipV";
        }
        */ }
  .adi-rotate-180:before {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }

.adi-rotate-225 {
  /*
        // Not included in production
        &.adi-flip-h:before {
            -webkit-transform: scaleX(-1) rotate(225deg);
            transform: scaleX(-1) rotate(225deg);
            filter: FlipH;
            -ms-filter: "FlipH";
        }
        &.adi-flip-v:before {
            -webkit-transform: scaleY(-1) rotate(225deg);
            -ms-transform: rotate(225deg);
            transform: scaleY(-1) rotate(225deg);
            filter: FlipV;
            -ms-filter: "FlipV";
        }
        */ }
  .adi-rotate-225:before {
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg); }

.adi-rotate-270 {
  /*
        // Not included in production
        &.adi-flip-h:before {
            -webkit-transform: scaleX(-1) rotate(270deg);
            transform: scaleX(-1) rotate(270deg);
            filter: FlipH;
            -ms-filter: "FlipH";
        }
        &.adi-flip-v:before {
            -webkit-transform: scaleY(-1) rotate(270deg);
            -ms-transform: rotate(270deg);
            transform: scaleY(-1) rotate(270deg);
            filter: FlipV;
            -ms-filter: "FlipV";
        }
        */ }
  .adi-rotate-270:before {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg); }

.adi-rotate-315 {
  /*
        // Not included in production
        &.adi-flip-h:before {
            -webkit-transform: scaleX(-1) rotate(315deg);
            transform: scaleX(-1) rotate(315deg);
            filter: FlipH;
            -ms-filter: "FlipH";
        }
        &.adi-flip-v:before {
            -webkit-transform: scaleY(-1) rotate(315deg);
            -ms-transform: rotate(315deg);
            transform: scaleY(-1) rotate(315deg);
            filter: FlipV;
            -ms-filter: "FlipV";
        }
        */ }
  .adi-rotate-315:before {
    -webkit-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    transform: rotate(315deg); }

.adi-flip-h:before {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH"; }

.adi-flip-v:before {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipV;
  -ms-filter: "FlipV"; }

.adi-spin:before {
  -webkit-animation: adi-spin 2s infinite linear;
  animation: adi-spin 2s infinite linear; }

@-webkit-keyframes adi-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes adi-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

/*# sourceMappingURL=andes-font.css.map */