// [1] Material icons should be 24px by default
// [2] Protect against inherited line-heights
// [3] Optimizelegibility throws things off #1094
// [4] Ensures no half-pixel rendering in firefox
// [5] Protect against inherited text-transforms
// [6] Material icons are designed to be vertically aligned center, not baseline

.#{$mdi-css-prefix}:before,
.#{$mdi-css-prefix}-set {
  display: inline-block;
  font: normal normal normal #{$mdi-font-size-base}/1 '#{$mdi-font-name}';
  font-size: #{$mdi-font-size-base}; // [1]
  line-height: 1; // [2]
  text-rendering: auto; // [3]
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0); // [4]
  text-transform: none; // [5]
  vertical-align: middle; // [6]
}
