$adi-sizes: 18 24 36 48;
@each $adi-size in $adi-sizes {
    .#{$adi-css-prefix}-#{$adi-size}px {
        &.#{$adi-css-prefix}-set,
        &.#{$adi-css-prefix}:before {
            font-size: $adi-size * 1px;
        }
    }
}

.#{$adi-css-prefix}-dark {
    &:before {
        color: rgba(0, 0, 0, 0.54);
    }
    &.mdi-inactive:before {
        color: rgba(0, 0, 0, 0.26);
    }
}
.#{$adi-css-prefix}-light {
    &:before {
        color: rgba(255, 255, 255, 1);
    }
    &.mdi-inactive:before {
        color: rgba(255, 255, 255, 0.3);
    }
}

$adi-degrees: 45 90 135 180 225 270 315;
@each $adi-degree in $adi-degrees {
    .#{$adi-css-prefix}-rotate-#{$adi-degree}{
        &:before {
            -webkit-transform: rotate(#{$adi-degree}deg);
            -ms-transform: rotate(#{$adi-degree}deg);
            transform: rotate(#{$adi-degree}deg);
        }
        /*
        // Not included in production
        &.#{$adi-css-prefix}-flip-h:before {
            -webkit-transform: scaleX(-1) rotate(#{$adi-degree}deg);
            transform: scaleX(-1) rotate(#{$adi-degree}deg);
            filter: FlipH;
            -ms-filter: "FlipH";
        }
        &.#{$adi-css-prefix}-flip-v:before {
            -webkit-transform: scaleY(-1) rotate(#{$adi-degree}deg);
            -ms-transform: rotate(#{$adi-degree}deg);
            transform: scaleY(-1) rotate(#{$adi-degree}deg);
            filter: FlipV;
            -ms-filter: "FlipV";
        }
        */
    }
}
.#{$adi-css-prefix}-flip-h:before {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
.#{$adi-css-prefix}-flip-v:before {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}