@font-face {
  @function mdi-version-string($v, $c) {
    $version-string: "";
    @if $v and $v != "0" {
      $version-string: "#{$c}#{$v}";
    }
    @return $version-string;
  }

  font-family: '#{$mdi-font-name}';
  src: url('#{$mdi-font-path}/#{$mdi-filename}-webfont.eot#{mdi-version-string($mdi-version, "?v")}');
  src: url('#{$mdi-font-path}/#{$mdi-filename}-webfont.eot?#iefix#{mdi-version-string($mdi-version, "&v=")}') format('embedded-opentype'),
    url('#{$mdi-font-path}/#{$mdi-filename}-webfont.woff2#{mdi-version-string($mdi-version, "?v")}') format('woff2'),
    url('#{$mdi-font-path}/#{$mdi-filename}-webfont.woff#{mdi-version-string($mdi-version, "?v")}') format('woff'),
    url('#{$mdi-font-path}/#{$mdi-filename}-webfont.ttf#{mdi-version-string($mdi-version, "?v")}') format('truetype');
  font-weight: normal;
  font-style: normal;
}