@font-face {
  font-family: '#{$adi-font-name}';
  src: url('#{$adi-font-path}/#{$adi-filename}.eot?v=#{$adi-version}');
  src: url('#{$adi-font-path}/#{$adi-filename}.eot?#iefix&v=#{$adi-version}') format('embedded-opentype'),
    // url('#{$adi-font-path}/#{$adi-filename}.woff2?v=#{$adi-version}') format('woff2'),
    url('#{$adi-font-path}/#{$adi-filename}.woff?v=#{$adi-version}') format('woff'),
    url('#{$adi-font-path}/#{$adi-filename}.ttf?v=#{$adi-version}') format('truetype'),
    url('#{$adi-font-path}/#{$adi-filename}.svg?v=#{$adi-version}##{$adi-filename}#{$adi-font-weight}') format('svg');
  font-weight: normal;
  font-style: normal;
}
