$mdi-filename:         "andes-font";
$mdi-font-name:        "Andes Icons";
$mdi-font-family:      "andesicons";
$mdi-font-weight:      "regular";
$mdi-font-path:        "../fonts" !default;
$mdi-font-size-base:   24px !default;
$mdi-css-prefix:       adi !default;
$mdi-version:          "1.0.0" !default;
