$mdi-filename:         "andes-icon";
$mdi-font-name:        "Andes Icons";
$mdi-font-family:      "andesicons";
$mdi-font-weight:      "regular";
$mdi-font-path:        "../fonts" !default;
$mdi-font-size-base:   24px !default;
$mdi-css-prefix:       andes !default;
$mdi-version:          "1.0.0" !default;

$mdi-icons: (
     "rup-elementoderegistro": 61,
     "rup-semantic-dispositivos": 62,
     "rup-semantic-hallazgos": 63,
     "rup-semantic-planes": 64,
     "rup-semantic-productos": 65,
     "rup-semantic-procedimientos": 66,
     "rup-semantic-todos": 67,
     "rup-semantic-trastornos": 68,
);