
.adi-usuario-reloj-outline:before { content: '\e800'; } /* '' */
.adi-usuarios:before { content: '\e801'; } /* '' */
.adi-usuario-tilde:before { content: '\e802'; } /* '' */
.adi-usuario-tilde-outline:before { content: '\e803'; } /* '' */
.adi-vacuna:before { content: '\e804'; } /* '' */
.adi-vinculo:before { content: '\e805'; } /* '' */
.adi-web:before { content: '\e806'; } /* '' */
.adi-zoom:before { content: '\e807'; } /* '' */
.adi-zoom-in:before { content: '\e808'; } /* '' */
.adi-zoom-out:before { content: '\e809'; } /* '' */
.adi--herramienta:before { content: '\e80a'; } /* '' */
.adi-abecedario:before { content: '\e80b'; } /* '' */
.adi-adn:before { content: '\e80c'; } /* '' */
.adi-alarma:before { content: '\e80d'; } /* '' */
.adi-ambulancia:before { content: '\e80e'; } /* '' */
.adi-anciana:before { content: '\e80f'; } /* '' */
.adi-andes:before { content: '\e810'; } /* '' */
.adi-andes-acronimo:before { content: '\e811'; } /* '' */
.adi-andes-marca:before { content: '\e812'; } /* '' */
.adi-anestesia:before { content: '\e813'; } /* '' */
.adi-auto-policia:before { content: '\e814'; } /* '' */
.adi-bisturi:before { content: '\e815'; } /* '' */
.adi-bloques-reloj:before { content: '\e816'; } /* '' */
.adi-calendario:before { content: '\e817'; } /* '' */
.adi-calendario-fecha:before { content: '\e818'; } /* '' */
.adi-calendario-fecha-abajo:before { content: '\e819'; } /* '' */
.adi-calendario-fecha-arriba:before { content: '\e81a'; } /* '' */
.adi-calendario-fecha-bold:before { content: '\e81b'; } /* '' */
.adi-calendario-fecha-outline:before { content: '\e81c'; } /* '' */
.adi-calendario-flecha-abajo:before { content: '\e81d'; } /* '' */
.adi-calendario-flechas-circulares:before { content: '\e81e'; } /* '' */
.adi-calendario-mas:before { content: '\e81f'; } /* '' */
.adi-calendario-rango-bold:before { content: '\e820'; } /* '' */
.adi-calendarios:before { content: '\e821'; } /* '' */
.adi-calendario-tilde:before { content: '\e822'; } /* '' */
.adi-cama:before { content: '\e823'; } /* '' */
.adi-cama-candado:before { content: '\e824'; } /* '' */
.adi-cama-destendida:before { content: '\e825'; } /* '' */
.adi-cama-engranaje:before { content: '\e826'; } /* '' */
.adi-cama-herramienta:before { content: '\e827'; } /* '' */
.adi-cama-paciente:before { content: '\e828'; } /* '' */
.adi-camara-foto:before { content: '\e829'; } /* '' */
.adi-cama-reloj:before { content: '\e82a'; } /* '' */
.adi-camilla:before { content: '\e82b'; } /* '' */
.adi-camion-bomberos:before { content: '\e82c'; } /* '' */
.adi-candado:before { content: '\e82d'; } /* '' */
.adi-celular:before { content: '\e82e'; } /* '' */
.adi-celular-llave:before { content: '\e82f'; } /* '' */
.adi-celular-mano:before { content: '\e830'; } /* '' */
.adi-celular-paciente:before { content: '\e831'; } /* '' */
.adi-centro-salud:before { content: '\e832'; } /* '' */
.adi-circulo-botella:before { content: '\e833'; } /* '' */
.adi-circulo-camara:before { content: '\e834'; } /* '' */
.adi-circulo-hospital:before { content: '\e835'; } /* '' */
.adi-circulo-madre-hijo:before { content: '\e836'; } /* '' */
.adi-circulo-medico:before { content: '\e837'; } /* '' */
.adi-circulo-paciente:before { content: '\e838'; } /* '' */
.adi-click:before { content: '\e839'; } /* '' */
.adi-clinica:before { content: '\e83a'; } /* '' */
.adi-corazon:before { content: '\e83b'; } /* '' */
.adi-corona:before { content: '\e83c'; } /* '' */
.adi-corazon-outline:before { content: '\e83d'; } /* '' */
.adi-credencial-paciente:before { content: '\e83e'; } /* '' */
.adi-credencial-usuario:before { content: '\e83f'; } /* '' */
.adi-cruz:before { content: '\e840'; } /* '' */
.adi-cruz-hospital:before { content: '\e841'; } /* '' */
.adi-cuentagota:before { content: '\e842'; } /* '' */
.adi-cuerpo:before { content: '\e843'; } /* '' */
.adi-cuna-candado:before { content: '\e844'; } /* '' */
.adi-cuna-destendida:before { content: '\e845'; } /* '' */
.adi-cuna-herramienta:before { content: '\e846'; } /* '' */
.adi-cuna-paciente:before { content: '\e847'; } /* '' */
.adi-cuna-reloj:before { content: '\e848'; } /* '' */
.adi-defensa-civil:before { content: '\e849'; } /* '' */
.adi-desvinculo:before { content: '\e84a'; } /* '' */
.adi-diario:before { content: '\e84b'; } /* '' */
.adi-doctora:before { content: '\e84c'; } /* '' */
.adi-docuemento-manzana:before { content: '\e84d'; } /* '' */
.adi-documento:before { content: '\e84e'; } /* '' */
.adi-documento-corazon:before { content: '\e84f'; } /* '' */
.adi-documento-cruz:before { content: '\e850'; } /* '' */
.adi-documento-cruz-hospital:before { content: '\e851'; } /* '' */
.adi-documento-lapiz:before { content: '\e852'; } /* '' */
.adi-documento-lupa:before { content: '\e853'; } /* '' */
.adi-documento-mas:before { content: '\e854'; } /* '' */
.adi-documento-paciente:before { content: '\e855'; } /* '' */
.adi-documento-reloj:before { content: '\e856'; } /* '' */
.adi-documentos:before { content: '\e857'; } /* '' */
.adi-documento-termometro:before { content: '\e858'; } /* '' */
.adi-documento-tilde:before { content: '\e859'; } /* '' */
.adi-documento-tubo:before { content: '\e85a'; } /* '' */
.adi-enfermera-outline:before { content: '\e85b'; } /* '' */
.adi-enfermero:before { content: '\e85c'; } /* '' */
.adi-enfermero-outline:before { content: '\e85d'; } /* '' */
.adi-enfermero-contorno:before { content: '\e85e'; } /* '' */
.adi-engranaje-outline:before { content: '\e85f'; } /* '' */
.adi-entrada:before { content: '\e860'; } /* '' */
.adi-enviar:before { content: '\e861'; } /* '' */
.adi-escritorio:before { content: '\e862'; } /* '' */
.adi-esqueleto:before { content: '\e863'; } /* '' */
.adi-esqueleto_esqueleto:before { content: '\e864'; } /* '' */
.adi-estadistica:before { content: '\e865'; } /* '' */
.adi-estetoscopio:before { content: '\e866'; } /* '' */
.adi-estomago:before { content: '\e867'; } /* '' */
.adi-estudiante:before { content: '\e868'; } /* '' */
.adi-etiqueta:before { content: '\e869'; } /* '' */
.adi-oxigeno:before { content: '\e86a'; } /* '' */
.adi-familia:before { content: '\e86b'; } /* '' */
.adi-farmacia:before { content: '\e86c'; } /* '' */
.adi-femenino:before { content: '\e86d'; } /* '' */
.adi-ferula:before { content: '\e86e'; } /* '' */
.adi-flecha-abajo:before { content: '\e86f'; } /* '' */
.adi-flecha-arriba:before { content: '\e870'; } /* '' */
.adi-flecha-derecha:before { content: '\e871'; } /* '' */
.adi-flecha-izquierda:before { content: '\e872'; } /* '' */
.adi-formula:before { content: '\e873'; } /* '' */
.adi-frasco:before { content: '\e874'; } /* '' */
.adi-frasco-pastillas:before { content: '\e875'; } /* '' */
.adi-garganta:before { content: '\e876'; } /* '' */
.adi-ginecologia:before { content: '\e877'; } /* '' */
.adi-giro:before { content: '\e878'; } /* '' */
.adi-hallazgo:before { content: '\e879'; } /* '' */
.adi-historial:before { content: '\e87a'; } /* '' */
.adi-hombre-caminando:before { content: '\e87b'; } /* '' */
.adi-hombre-corriendo:before { content: '\e87c'; } /* '' */
.adi-hospital:before { content: '\e87d'; } /* '' */
.adi-impresora:before { content: '\e87e'; } /* '' */
.adi-infante:before { content: '\e87f'; } /* '' */
.adi-infantil:before { content: '\e880'; } /* '' */
.adi-informacion:before { content: '\e881'; } /* '' */
.adi-informe-medico:before { content: '\e882'; } /* '' */
.adi-cinta:before { content: '\e883'; } /* '' */
.adi-inhalador:before { content: '\e884'; } /* '' */
.adi-interaccion:before { content: '\e885'; } /* '' */
.adi-interconsulta:before { content: '\e886'; } /* '' */
.adi-intestino:before { content: '\e887'; } /* '' */
.adi-cesto:before { content: '\e889'; } /* '' */
.adi-lapiz:before { content: '\e88a'; } /* '' */
.adi-lapiz-documento:before { content: '\e88b'; } /* '' */
.adi-llamada-saliente:before { content: '\e88c'; } /* '' */
.adi-logo-bpn:before { content: '\e88d'; } /* '' */
.adi-logo-facebook:before { content: '\e88e'; } /* '' */
.adi-logo-facebook-outline:before { content: '\e88f'; } /* '' */
.adi-logo-github:before { content: '\e890'; } /* '' */
.adi-logo-github-outline:before { content: '\e891'; } /* '' */
.adi-logo-hpn:before { content: '\e892'; } /* '' */
.adi-logo-ministerio:before { content: '\e893'; } /* '' */
.adi-logo-ministerio-salud:before { content: '\e894'; } /* '' */
.adi-logo-provincia:before { content: '\e895'; } /* '' */
.adi-logo-tics:before { content: '\e896'; } /* '' */
.adi-logo-twitter:before { content: '\e897'; } /* '' */
.adi-logo-twitter-outline:before { content: '\e898'; } /* '' */
.adi-logo-whatsapp:before { content: '\e899'; } /* '' */
.adi-logo-youtube:before { content: '\e89a'; } /* '' */
.adi-logo-youtube-outline:before { content: '\e89b'; } /* '' */
.adi-lupa-ojo:before { content: '\e89c'; } /* '' */
.adi-madre-hijo:before { content: '\e89d'; } /* '' */
.adi-mail:before { content: '\e89e'; } /* '' */
.adi-mail-outline:before { content: '\e89f'; } /* '' */
.adi-mano:before { content: '\e8a0'; } /* '' */
.adi-mano-corazon:before { content: '\e8a1'; } /* '' */
.adi-mano-gota:before { content: '\e8a2'; } /* '' */
.adi-mano-herramienta:before { content: '\e8a3'; } /* '' */
.adi-mano-niño:before { content: '\e8a4'; } /* '' */
.adi-marcador:before { content: '\e8a5'; } /* '' */
.adi-marcador-salud:before { content: '\e8a6'; } /* '' */
.adi-mas:before { content: '\e8a7'; } /* '' */
.adi-masculino:before { content: '\e8a8'; } /* '' */
.adi-mdi-download:before { content: '\e8a9'; } /* '' */
.adi-medica:before { content: '\e8aa'; } /* '' */
.adi-medico:before { content: '\e8ab'; } /* '' */
.adi-microbios:before { content: '\e8ac'; } /* '' */
.adi-microscopio:before { content: '\e8ad'; } /* '' */
.adi-molecula:before { content: '\e8ae'; } /* '' */
.adi-nodos:before { content: '\e8af'; } /* '' */
.adi-nube-bajar:before { content: '\e8b0'; } /* '' */
.adi-nube-subir:before { content: '\e8b1'; } /* '' */
.adi-oreja:before { content: '\e8b2'; } /* '' */
.adi-paciente:before { content: '\e8b4'; } /* '' */
.adi-paciente-casa:before { content: '\e8b5'; } /* '' */
.adi-paciente-completo:before { content: '\e8b6'; } /* '' */
.adi-paciente-hombre:before { content: '\e8b7'; } /* '' */
.adi-paciente-medico:before { content: '\e8b8'; } /* '' */
.adi-paciente-mujer:before { content: '\e8b9'; } /* '' */
.adi-paciente-rayos:before { content: '\e8ba'; } /* '' */
.adi-paciente-sol:before { content: '\e8bb'; } /* '' */
.adi-pildoras:before { content: '\e8be'; } /* '' */
.adi-pastillas:before { content: '\e8bf'; } /* '' */
.adi-pc:before { content: '\e8c0'; } /* '' */
.adi-pico-abajo:before { content: '\e8c1'; } /* '' */
.adi-pico-arriba:before { content: '\e8c2'; } /* '' */
.adi-pico-derecha:before { content: '\e8c3'; } /* '' */
.adi-pico-izquierda:before { content: '\e8c4'; } /* '' */
.adi-pie:before { content: '\e8c5'; } /* '' */
.adi-pildora:before { content: '\e8c6'; } /* '' */
.adi-pipeta:before { content: '\e8c7'; } /* '' */
.adi-planilla-electro:before { content: '\e8c8'; } /* '' */
.adi-planilla-pipeta:before { content: '\e8c9'; } /* '' */
.adi-planilla-tubo:before { content: '\e8ca'; } /* '' */
.adi-prohibido:before { content: '\e8cd'; } /* '' */
.adi-puerta-salir:before { content: '\e8ce'; } /* '' */
.adi-pulmones:before { content: '\e8cf'; } /* '' */
.adi-rayos:before { content: '\e8d0'; } /* '' */
.adi-recipiente:before { content: '\e8d1'; } /* '' */
.adi-recuperar:before { content: '\e8d2'; } /* '' */
.adi-reloj:before { content: '\e8d3'; } /* '' */
.adi-resonancia:before { content: '\e8d4'; } /* '' */
.adi-riñones:before { content: '\e8d5'; } /* '' */
.adi-salida:before { content: '\e8d6'; } /* '' */
.adi-semantics:before { content: '\e8d7'; } /* '' */
.adi-silencio:before { content: '\e8d8'; } /* '' */
.adi-tablet:before { content: '\e8d9'; } /* '' */
.adi-telefono:before { content: '\e8da'; } /* '' */
.adi-termometro:before { content: '\e8db'; } /* '' */
.adi-llave:before { content: '\e8dc'; } /* '' */
.adi-tilde:before { content: '\e8de'; } /* '' */
.adi-trastorno:before { content: '\e8df'; } /* '' */
.adi-traumatologia:before { content: '\e8e0'; } /* '' */
.adi-turno-bold:before { content: '\e8e1'; } /* '' */
.adi-turno-codigo:before { content: '\e8e2'; } /* '' */
.adi-turno-mas:before { content: '\e8e3'; } /* '' */
.adi-turno-mas-bold:before { content: '\e8e4'; } /* '' */
.adi-turno-menos:before { content: '\e8e5'; } /* '' */
.adi-turno-reloj-bold:before { content: '\e8e6'; } /* '' */
.adi-turno-tilde:before { content: '\e8e7'; } /* '' */
.adi-turno-tilde-bold:before { content: '\e8e8'; } /* '' */
.adi-user-folder:before { content: '\e8ea'; } /* '' */
.adi-documento-cursor:before { content: '\e8ec'; } /* '' */